In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [3]:
df = pd.read_csv('risk.csv')

In [4]:
df

   Speed  Car_age  Experience  Risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [6]:
df.Experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: Experience, dtype: float64

In [8]:
nv = df.Experience.median()

In [9]:
nv

5.0

In [10]:
df.Experience = df.Experience.fillna(nv)

In [11]:
df.Experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: Experience, dtype: float64

In [12]:
df

   Speed  Car_age  Experience  Risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [13]:
reg = linear_model.LinearRegression()
reg.fit(df[['Speed', 'Car_age', 'Experience']], df.Risk)

LinearRegression()

In [15]:
reg.predict([[120, 3, 5]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([46.87405477])

In [16]:
reg.coef_

array([ 0.33059217,  1.61053246, -6.20772074])

In [17]:
reg.intercept_

33.410000910435905